table {
    border: solid 1px black;
}

tr th {
    color: goldenrod;
    background-color: darkslategray;
    font-family: 'Space Grotesk', sans-serif;
}

td:hover {
    color: mediumaquamarine;
    background-color: black;
}

tr td {
    background-color: burlywood;
    color: midnightblue;
    font-weight: bold;
}