.jumbotron {
    color: rgb(0, 0, 0);
    background-image: url("../images/rock_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.album-cover {
    width: 200px;
    height: 200px;
}

.headline {
    color: #cd3f1f;
}

.background-dark {
    background-color: #2f2f2f;
}

.concert-card {
    background-color: #493536;
    color: #fff;
}

.video-gallery {
    background-color: #181818;
}

.news-container {
    background-color: #2f2f2f;
}